// Colors

$black:					#333;
$blue:					#336dc3;
$blue--lighter:			#5181fb;

$gray:					#ccc;
$gray-lighter:			#8a8a8a;
$gray-darker:			#424242;

$orange:				#e58000;
$red:					#cb1c5a;

$color-page-background:	white;
