// Fonts

$ubuntu:			'Ubuntu', sans-serif;


// Font weights

$bold:				700;
$light:				300;
$regular:			400;


// Default

$base-font-size: 15;
$text: $ubuntu;
$grid-base-width: 990;


// RWD

$ipad_portrait:		768;
$ipad_landscape:	1024;
$smartphone_landscape:	767;