.icon-facebook:before {
    content: "\e900";
}
.icon-googleplus:before {
    content: "\e901";
}
.icon-heart:before {
    content: "\e902";
}
.icon-instagram:before {
    content: "\e903";
}
.icon-linkedin:before {
    content: "\e904";
}
.icon-list:before {
    content: "\e905";
}
.icon-talk:before {
    content: "\e906";
}
.icon-tie:before {
    content: "\e907";
}
.icon-twitter:before {
    content: "\e908";
}
.icon-youtube:before {
    content: "\e909";
}

