.o-wrap {
	@include clear;
	position: relative;
	max-width: $grid-base-width+px;
	margin: {
		left: auto;
		right: auto;
	}
	
	@media screen and ( max-width: $grid-base-width+px ) {
		padding: {
			left: 20px;
			right: 20px;
		}
	}
}