.c-buy {
	background: {
		image: url(../img/buy.jpg);
		repeat: no-repeat;
		position: center bottom;
		color: $blue;
	}
	
	&__txt {
		@include antialias;
		width: auto;
		max-width: 600px;
		margin: 0 auto 40px auto;
		color: white;
		
		@media screen and ( min-width: 841px ) {
			float: left;
			width: grid(450);
		}
		
		@media screen and ( max-width: 768px ) {
			margin-bottom: 80px;
		}
		
		p {
			margin-bottom: 1em;
			text-align: justify;
		}
	}
}