.c-buy-form {
	width: auto;
	max-width: 600px;
	margin: 0 auto;
	font-size: em(14);
	
	@media screen and ( min-width: 841px ) {
		float: right;
		width: 380px;
		padding-top: 10px;
	}
	
	@media screen and ( min-width: 769px ) {
		
		//width: grid(370);
		
	}

	input[type=text],
	input[type=tel],
	input[type=email] {
		height: 50px;
		background-color: white;
		padding: 0 20px;
	}
	
	&__fields {
		margin-bottom: 50px;
	}
	
	&__num {
		float: left;
		width: 100px;
		
		@media screen and ( max-width: 768px ) {
			width: grid(200, 728);
		}
		
		@media screen and ( max-width: 375px ) {
			width: grid(240, 728);
		}
		
		input {
			float: right;
			width: 50px;
			padding: 0;
		}
	}
	
	&__city {
		float: right;
		width: 280px;
		
		@media screen and ( max-width: 768px ) {
			width: grid(528, 728);
		}
		
		@media screen and ( max-width: 375px ) {
			width: grid(488, 728);
		}
		
		label {
			@media screen and ( max-width: 479px ) {
				display: none;
			}
		}
	}
	
	&__select {
		float: right;
		width: 140px;
	}
	
	&__submit {
		float: right;
		position: relative; z-index: 5;
		width: 200px;
		text-align: center;
		color: white;
	}
	
	.o-btn {
		display: block;
		width: 100%;
		padding: 0;
	}
	
	.clear {
		position: relative; z-index: 10;
		margin-bottom: 10px;
	}
	
	label {
		@include antialias;
		float: right;
		padding-right: 8px;
		line-height: 50px;
		color: white;
		white-space: nowrap;
		text-align: right;
		
		.short {
			@media screen and ( max-width: 1023px ) {
				display: none;
			}
		}
	}
}