.c-organizer {
	color: white;
	
	p {
		@media screen and ( min-width: 375px ) and ( max-width: 480px ) {
			font-size: em(10);
		}
	}

	@media screen and ( min-width: 769px ) {
		&__txt {
			float: left;
			width: grid(280);
		}
		
		&__video {
			float: right;
			width: grid(650);
			padding-top: 10px;
		}
	}
	
	&__txt {
		@media screen and ( max-width: 768px ) {
			margin-bottom: 80px;
		}
	}
	
	&__video {
		@media screen and ( max-width: 768px ) {
			margin-bottom: 80px;
			
			.o-media {
				margin: 0 auto;
			}
		}
	}
}
