.c-program {
	background: {
		image: url(../img/people.jpg);
		repeat: no-repeat;
		position: center bottom;
	}
	
	&__price {
		display: block;
		margin-top: 8px;
		text-transform: uppercase;
		font-size: em(14);
	}
}