.c-topbar {
	position: fixed;
	left: 0; top: 0; z-index: 15;
	width: 100%;
	height: 90px;
	background-color: white;

	.o-wrap {
		height: 100%;
	}

	.c-logo {
		left: 0;
		width: 202px;	
		
		@media screen and ( max-width: $grid-base-width+px ) {
			left: 20px;
		}	
	}
}